@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Aeonik";
  src: url("/font/Aeonik-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Aeonik";
  src: url("/public/font/Aeonik-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Aeonik";
  src: url("/public/font/Aeonik-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "BrutGrotesque";
  src: url("/public/font/BrutGrotesque-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "BrutGrotesque";
  src: url("/public/font/BrutGrotesque-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "BrutGrotesque";
  src: url("/public/font/BrutGrotesque-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
